.table-style {
    border-collapse: collapse;
    border: 1.5px solid rgb(35, 35, 36);
    font-size: 0.9em;
    font-family: sans-serif;
    width: 100%;
}

.table-style thead {
    background-color: #9ba1a0;
    color: #000000;
    text-align: left;
}

.table-style tbody tr {
    background-color: #ffffff;
    border: 1.5px solid rgb(35, 35, 36);
    color: #12a8d6;
    text-align: left;
}

.table-style th,
.table-style td {
    padding: 12px 15px;
}


